<%- include header %>
  <div class="container-fluid" id="add-plat">
      <div class="panel panel-default">
          <div class="panel-heading">用户登录</div>
          <div class="panel-body">
              <div class="page-wrap">
                  <form id="platform-form">
                      <ul class="input-list">
                          <li>
                              <label class="label-text">用户名：</label>
                              <input name="user_name" type="text" datatype="*" value="" />
                          </li>
                          <li>
                              <label class="label-text">密码：</label>
                              <input name="pwd" type="password" datatype="*" value="" />
                          </li>
                          <li>
                              <label class="label-text"></label>
                              <button  id="login_btn" type="button" class="btn btn-primary">登录</button>
                              <span id="err-tiper" class="err-tiper"></span>
                          </li>
                      </ul>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>